force-app/main/default/core-functionality/flows/CRMHenvendelse_Thread_BeforeUpdate_OnOfficeRestrictionSetToTrue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_office_restriction_date</name>
        <label>Set office restriction date</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_office_restriction_info</name>
        <label>Update office restriction info</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CRM_Last_Edited_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_office_restriction_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_office_restriction_info_SF</name>
        <label>Update office restriction info SF</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Office_Restriction_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_office_restriction_date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_was_office_restrictions_activated</name>
        <label>How was office restrictions activated</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_office_restriction_info_SF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activated in Salesforce</defaultConnectorLabel>
        <rules>
            <name>Activated_By_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_office_restriction_info</targetReference>
            </connector>
            <label>Activated By API</label>
        </rules>
    </decisions>
    <description>If office resrtiction is set to true update the office restriction fields</description>
    <interviewLabel>Thread - Before Update - On Office Restriction Set To True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Before Update - On Office Restriction Set To True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_was_office_restrictions_activated</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Office_Restriction__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
