force-app/main/default/flows/Conversation_Note_Before_Update_Sensitive_Information_Set_To_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Checks which user that activated the office restriction</description>
        <name>Check_Sensitive_Information_Activated_By</name>
        <label>Check Sensitive Information Activated By</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Updated_Sensitive_Information_Info_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activated in Salesforce</defaultConnectorLabel>
        <rules>
            <name>Activated_Through_API</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.CRM_NAV_Ident__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.CRM_NAV_Ident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Sensitive_Information_Info_0</targetReference>
            </connector>
            <label>Activated Through API</label>
        </rules>
    </decisions>
    <interviewLabel>Conversation Note - Before Update - Sensitive Information Set To True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - Before Update - Sensitive Information Set To True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updated_Sensitive_Information_Info_0</name>
        <label>Updated Sensitive Information Info</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>STO_Sensitive_Information_Activated_By__c</field>
            <value>
                <elementReference>$Record.CRM_Last_Edited_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Sensitive_Information_Info_1</name>
        <label>Updated Sensitive Information Info</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>STO_Sensitive_Information_Activated_By__c</field>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Sensitive_Information_Unit__c</field>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Sensitive_Information_Activated_By</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STO_Sensitive_Information__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
