force-app/main/default/flows/CRM_Conversation_Note_Before_Update_Incorrectly_Sent_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Incorrectly_Sent_Info</name>
        <label>Set Incorrectly Sent Info</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Incorrectly_Sent_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CRM_Last_Edited_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CRM_Incorrectly_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Incorrectly_Sent_Info_0</name>
        <label>Set Incorrectly Sent Info</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Incorrectly_Sent_Activated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CRM_Incorrectly_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks which user that set Incorrectly sent to true</description>
        <name>Check_Incorrectly_Sent_Activated_By</name>
        <label>Check Incorrectly Sent Activated By</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_Incorrectly_Sent_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activated in Salesforce</defaultConnectorLabel>
        <rules>
            <name>Activated_Through_API</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.CRM_NAV_Ident__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Incorrectly_Sent_Info</targetReference>
            </connector>
            <label>Activated Through API</label>
        </rules>
    </decisions>
    <description>Automatically populate incorrectly sent information</description>
    <interviewLabel>Conversation Note - Before Update -  Incorrectly Sent True {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversation Note - Before Update -  Incorrectly Sent True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Incorrectly_Sent_Activated_By</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Incorrectly_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Conversation_Note__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
