force-app/main/default/flows/CRMHenvendelse_Thread_BeforeInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Common_Thread_Values</name>
        <label>Assign Common Thread Values</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CRM_Thread_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Person_Values_To_Thread</name>
        <label>Assign Person Values To Thread</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_External_ActorId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person.INT_ActorId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CRM_External_Person_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Registered_Datetime</name>
        <label>Set Registered Datetime</label>
        <locationX>270</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Date_Time_Registered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Person</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date_Time_Registered</name>
        <label>Check Date Time Registered</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Registered_Datetime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Datetime Not Set</defaultConnectorLabel>
        <rules>
            <name>Datetime_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Date_Time_Registered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Person</targetReference>
            </connector>
            <label>Datetime Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_account_exist</name>
        <label>Check if account exist</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No account found</defaultConnectorLabel>
        <rules>
            <name>Account_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Common_Thread_Values</targetReference>
            </connector>
            <label>Account exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Person</name>
        <label>Has Person and need details</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Person_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Person</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.INT_ActorId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Values_To_Thread</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Set the associated person Actor Id and Natural ident (fnr/dnr/npid)</description>
    <interviewLabel>Thread - Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Person</name>
        <label>Person</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Time_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_account_exist</targetReference>
        </connector>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
